<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Диалект PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Логирование SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Автоматическое создание/обновление схемы -->
<!--        <property name="hibernate.hbm2ddl.auto">validate</property>-->

        <!-- Регистрация entity-классов -->
        <mapping class="com.example.library.entity.Author"/>
        <mapping class="com.example.library.entity.Book"/>
        <mapping class="com.example.library.entity.Genre"/>
        <mapping class="com.example.library.entity.Publisher"/>
        <mapping class="com.example.library.entity.Passport"/>
        <mapping class="com.example.library.entity.Reader"/>
        <mapping class="com.example.library.entity.ReaderBook"/>
        <mapping class="com.example.inheritance.entity.mapped.Person"/>
        <mapping class="com.example.inheritance.entity.mapped.Teacher"/>
        <mapping class="com.example.inheritance.entity.mapped.Student"/>
        <mapping class="com.example.inheritance.entity.single.PersonS"/>
        <mapping class="com.example.inheritance.entity.single.StudentS"/>
        <mapping class="com.example.inheritance.entity.single.TeacherS"/>
        <mapping class="com.example.inheritance.entity.base.PersonB"/>
        <mapping class="com.example.inheritance.entity.base.TeacherB"/>
        <mapping class="com.example.inheritance.entity.base.StudentB"/>

    </session-factory>
</hibernate-configuration>